
/* links */

a:active {text-decoration: none;color: blue;}
a:link {text-decoration: none;}
a:hover{text-decoration: none;color:#0085CA;font-size: 20px;}
/*paragraphs and headers */
p ,h3{background-color:silver;color: royalblue;}
#p1 {background-color: silver;}
#p2 {background-color: white;background-image: url("04.jpg")}
#p2 {background-color: white;}
div.fixed{position: absolute;}
li.list{background-color: none}

ul.ulist {background-color: none;list-style-type: square;}
table.main{padding:10;}

/* drop down */
ul.drop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: purple;
    text-align: center;
    padding: none; 
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:none;
   min-width: none;
   /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown-content a {
    color: none;
   /* padding:   12px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: none}

.show {display:block;}
.fadein { position:relative; 
   width:500px; 
    height:332px;
 }
.fadein img { position:absolute; left:50; top:10; }
a.active{background-color: silver;color: #0085CA;}

